fastapi
uvicorn[standard]
pydantic
pydantic-settings
dramatiq[redis, results]
redis
minio
python-multipart
langchain
langchain-community
pypdf
watchfiles
unstructured
python-docx
markdown
pgvector
psycopg[binary]

transformers>=4.51.0
accelerate>=0.33.0
safetensors>=0.4.3
tokenizers>=0.20.0
