fastapi
uvicorn[standard]
pydantic
pydantic-settings
dramatiq[redis, results]
redis
minio
python-multipart
langchain
langchain-community
pypdf
watchfiles
unstructured
python-docx
markdown
pgvector
psycopg[binary]